.RutasDiv {
  width: 97.5vw;
  height: 98.9vh;
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  gap: 0.5rem;
}
.divTab {
  width: 70%;
  height: 100%;
  background-color: white;
  border-radius: 0.8rem;
  border: 1px solid #b8b8b8;
}
.divMenu {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.blq {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  border: 2px solid #b8b8b8;
  background-color: white;
}
.modal {
  z-index: 999999;
}
